@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
}
body{
 height: 100vh;
  background-image: url('./assets/2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
 padding-top: 1rem;
 padding-right: 1rem;
 padding-left: 1rem;
}



